@import "../../../styles.scss";

.container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;

  @media (max-width: 768px) {
    padding-top: 100px;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 700px;

  @media (max-width: 992px) {
    padding: 20px;
    min-width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.placeholder-content {
  text-align: center;
  color: #757575;
  margin-top: 40px;

  mat-icon {
    font-size: 48px;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.forecast_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 10px;

  mat-card {
    min-width: 150px;
    padding: 10px;
    text-align: center;
    flex: 1 1 calc(20% - 10px);

    @media (max-width: 1200px) {
      flex: 1 1 calc(25% - 10px);
    }

    @media (max-width: 992px) {
      flex: 1 1 calc(33.3% - 10px);
      margin: 20px 0px;
    }

    @media (max-width: 768px) {
      flex: 1 1 calc(50% - 10px);
      min-width: 120px;
    }

    @media (max-width: 480px) {
      flex: 1 1 calc(100% - 10px);
      min-width: 100%;
    }
  }
}

.container_search {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  max-width: 300px;
  margin-right: 8px;

  @media (max-width: 768px) {
    max-width: 80%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.search-button {
  margin-bottom: 16px;
}

.today-weather {
  text-align: center;
  margin-bottom: 20px;
}

.city-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  h2 {
    margin: 0;
  }
}
